@font-face{
    font-family: 'SAGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT.ttf'), URL('SEGA.woff')format('woff')
}

h1{ 
    font-family: 'SAGA LOGO FONT';
}